{% extends 'gameshop/base.html' %}
{% load static %}


{%block title%} Kupujesz grę {{game.title}} {%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="wrapper">
  <div class="content">
      <img class="item-image" src="{{ game.image.url }}" alt="{{ game.name }}">
      <div class="item-name">{{game.title}}</div>
      <div class="item-price">{{game.price}}</div>
      <div class="item-description">{{game.description}}</div>
      <a href="#" class="btn">Kup Teraz</a>
  </div>
</div>
{% else %}
<p> Niezła próba </p>
{% endif %}
{%endblock%}