{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'gameshop/style.css' %}">
  <title>Sklep</title>
</head>
<body>
  <div class="cover">
    <nav>
      <img src="{% static 'gameshop/logo.jpg' %}" class="logo"alt="">
      <ul>
        <li><a href="#">Produkty</a></li>
        <li><a href="#">Regulamin</a></li>
        <li><a href="#">Pomoc</a></li>
      </ul>
      <div>
        <a href="#" class="btn">Login</a>
        <a href="#"class="btn">Rejestracja</a>
      </div>
    </nav> 
    <div class="wrapper">
    <div class="content">
      <h1>Buy some games!</h1>
      <p>Chcesz zagrać w nowe tytuły? Potrzebujesz nowych gier? Gamershop zapewi ci ich wiele! Zarejestruj się już dziś. Darmowa wysyłka dla nowych użytkowników.</p>
      <a href="#"class="btn">Dołącz teraz</a>
    </div>
  </div>
  </div>
  
</body>
</html>
