{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'gameshop/style.css' %}">
  <title>Sklep</title>
</head>
<body>
  <div class="cover">
    <nav>
      <img src="{% static 'gameshop/logo.jpg' %}" class="logo"alt="">
      <ul>
        <li><a href="{% url 'gameshop:index' %}">Strona główna</a></li>
        <li><a href="/products">Produkty</a></li>
        <li><a href="{% url 'gameshop:regulamin' %}">Regulamin</a></li>
        <li><a href="{% url 'gameshop:pomoc' %}">Pomoc</a></li>
      </ul>
      <div>
        {% if user.is_authenticated %}
          <span class="welcome">Cześć, {{ user.username }}</span>
          <a href="{% url 'gameshop:logout' %}" class="btn">Wyloguj</a>
        {% else %}
          <a href="{% url 'gameshop:login' %}" class="btn">Login</a>
          <a href="{% url 'gameshop:register' %}" class="btn">Rejestracja</a>
        {% endif %}
      </div>
    </nav>
    <div class="wrapper">
      <div class="content">
        <div class="pomocny" style="margin-left: 100px;width: 500px; ">

                Dom Adama:<br>
                26-004 Bieliny<br><br>
                <b>Godziny otwarcia:</b><br>
                <ul>
                  <li>Poniedziałek - Piątek: 10.00-19.00</li>
                  <li>Sobota: 10.00-15.00</li>
                  <li>Niedziela: Nieczynne</li>
                </ul>
                <b>GamerShop ma swój zespół sprawdzonych doradców:</b>
                <ul>
                  <li>w sprawach handlowych - David Salwa:</li>
                  <li>w sprawach technicznych - Jakub, Adam, Bartłomiej</li>
                </ul><br>
                <b>Napisz wiadomość do GamerShop na adres:</b>
                <ul>
                  <li>gamershop.sklep@gmail.com</li>
                </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>
</html>
