{% extends 'gameshop/base.html' %}
{% load static %}


{%block title%} Pomoc {%endblock%}

{%block content%}
  <div class="wrapper">
    <div class="content">
      <div class="pomocny" style="margin-left: 100px;width: 500px; ">

              Dom Adama:<br>
              26-004 Bieliny<br><br>
              <b>Godziny otwarcia:</b><br>
              <ul>
                <li>Poniedziałek - Piątek: 10.00-19.00</li>
                <li>Sobota: 10.00-15.00</li>
                <li>Niedziela: Nieczynne</li>
              </ul>
              <b>GamerShop ma swój zespół sprawdzonych doradców:</b>
              <ul>
                <li>w sprawach handlowych - David Salwa:</li>
                <li>w sprawach technicznych - Jakub, Adam, Bartłomiej</li>
              </ul><br>
              <b>Napisz wiadomość do GamerShop na adres:</b>
              <ul>
                <li>gamershop.sklep@gmail.com</li>
              </ul>
      </div>
    </div>
  </div>
{%endblock%}