{% extends 'gameshop/base.html' %}
{% load static %}


{%block title%} Produkty {%endblock%}

{%block content%}
 <div class="wrapper">
      <div class="content">
        <ul >
          {% for product in products %}
          <li>
            <a href="{{product.url_get}}">
            <img class="item-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
            <div class="item-name">{{product.title}}</div>
            <div class="item-price">{{product.price}}</div>
            <div class="item-description">{{product.description}}</div>
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>
  </div>
{%endblock%}