{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'gameshop/style.css' %}">
  <title>Sklep</title>
</head>
<body>
  <div class="cover">
    <nav>
      <img src="{% static 'gameshop/logo.jpg' %}" class="logo"alt="">
      <ul>
        <li><a href="{% url 'gameshop:index' %}">Strona główna</a></li>
        <li><a href="/products">Produkty</a></li>
        <li><a href="{% url 'gameshop:regulamin' %}">Regulamin</a></li>
        <li><a href="#">Pomoc</a></li>
      </ul>
      <div>
        <a href="#" class="btn">Login</a>
        <a href="#"class="btn">Rejestracja</a>
      </div>
    </nav> 
    <div class="wrapper">
      <div class="content">
        <ul >
          <li>
              <img src="{% static 'gameshop/logo.jpg' %}" alt="Product 1" class="item-image">
              <div class="item-name">Product temp 1</div>
              <div class="item-price">$21.37</div>
              <div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </li>
          <li>
              <img src="{% static 'gameshop/logo.jpg' %}" alt="Product 1" class="item-image">
              <div class="item-name">Product temp 2</div>
              <div class="item-price">$12.34</div>
              <div class="item-description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </li>
          <li>
              <img src="{% static 'gameshop/logo.jpg' %}" alt="Product 1" class="item-image">
              <div class="item-name">Product temp 3</div>
              <div class="item-price">$39.99</div>
              <div class="item-description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
          </li>
      </ul>
      </div>
    </div>
  </div>
  </div>
  
</body>
</html>
